{% extends "index.html" %}
{% block content %}
{% load rest_framework %}

            <form action="{% url 'cards_list' %}">
                <ul>
            {% for card in Cards %}
                <li>{{ card.word }}</li>
                {% endfor %}
<ul>
                <input type="submit" value="Вернуться на главную" />
            </form>

<!--<form action="{% url 'cards_list' %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
-->
{% endblock%}